[submodule "lib/anthrax/lib/glfw"]
	path = lib/anthrax/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/anthrax/lib/glm"]
	path = lib/anthrax/lib/glm
	url = https://github.com/g-truc/glm.git
